[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "RobustToolbox/"]
	url = ssh://git@github.com/rbertoche/RobustToolbox
[submodule "pr_map_errornode_clash"]
	branch = RobustToolbox
[submodule "fix_yaml"]
	branch = RobustToolbox
